.btn__gpoup{
    margin-top: 20px;
}

.btn{
    background-color: #3d5a80;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    font-weight: 500;

    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #3d5a80;
}

.btn__light{
    background-color: #fff;
    color: #3d5a80;
}